<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Rebaslight</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <![endif]--><script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-32113118-1', 'auto');ga('send', 'pageview');</script>
        <meta name="application-name" content="Rebaslight">
        <meta name="application-url" content="http://www.rebaslight.com/">
        <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
        <link rel="icon" type="image/png" href="/favicon-128x128.png" sizes="128x128">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png">
        <meta name="msapplication-TileColor" content="#000000">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="msapplication-square70x70logo" content="/mstile-70x70.png">
        <meta name="msapplication-square150x150logo" content="/mstile-150x150.png">
        <meta name="msapplication-wide310x150logo" content="/mstile-310x150.png">
        <meta name="msapplication-square310x310logo" content="/mstile-310x310.png">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <div>
            <noscript>
                <div class="alert alert-danger">For this site to work you must &lt;b&gt;enable JavaScript&lt;/b&gt;.<br>Here are the <a href="http://www.enable-javascript.com/" target="_blank">instructions how to enable JavaScript in your web browser</a></div>
            </noscript>
            <!--[if lt IE 9]>
            <div class="alert alert-danger"><strong>Heads up!</strong>The web browser you are using won&#39;t work well with this site.<br>We suggest the excellent (and free) <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Google Chrome</a></div>
            <![endif]-->
        </div>
        <div style="height: 100%;">
            <div style="min-height: 100%; height: auto; margin: 0 auto -7em; padding: 0 0 7em; webkit-box-sizing: border-box; moz-box-sizing: border-box; box-sizing: border-box;">
                <header>
                    <nav class="navbar navbar-inverse rl-navbar">
                        <div class="container-fluid">
                            <div class="navbar-header"><button type="button" data-toggle="collapse" data-target="#rl-navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="rl-navbar-brand"><span>Rebaslight</span></a></div>
                            <div id="rl-navbar-collapse" class="collapse navbar-collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="/#effects">Effects</a></li>
                                    <li><a href="/#how-to">How To</a></li>
                                    <li><a href="/#contact">Contact</a></li>
                                    <li>
                                        <p class="navbar-btn"><a href="/#download" class="btn btn-primary">Download!</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </header>
                <div class="container">
                    <div style="padding: 1em; color: #000000; background: #DDDDDD;" class="ContentArea">
                        <h1 class="text-center">How to make Lightsaber special effects!</h1>
                        <iframe width="640" height="360" src="//www.youtube.com/embed/yoxGEfF-gQM?rel=0" frameborder="0" style="display: block; margin: 0 auto;"><img src="/img/glow.png" alt="Showing off the lightsaber effect"></iframe>
                        <div class="text-center">
                            <h3>Get started on your movie now!</h3>
                            <a href="/#download" class="btn btn-lg btn-primary">Download! <i class="fa fa-download"></i></a>
                        </div>
                        <div id="effects">
                            <h2 class="text-center">Other impressive special effects</h2>
                            <div style="margin-bottom: 1em;" class="row">
                                <div class="col-sm-6">
                                    <div>
                                        <img src="/img/effect.Lightning.png" alt="Lightning" style="margin-right: 20px; width: 250px; height: 140px;" class="pull-left">
                                        <h3>Lightning</h3>
                                        <div style="font-size: 14px;">Do you fingers have the power to shoot lightning? Magic wands that shoot lightning like energy? This effect will &quot;shock&quot; your viewers.</div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div>
                                        <img src="/img/effect.MuzzleFlash.png" alt="Muzzle Flash" style="margin-right: 20px; width: 250px; height: 140px;" class="pull-left">
                                        <h3>Muzzle Flash</h3>
                                        <div style="font-size: 14px;">Make your gun shots look real. Simply draw on the movie and select your gun type: hand gun, shot gun, machine gun, laser gun, you name it!</div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div id="download">
                    <div class="container">
                        <div style="padding: 1em; color: #000000; background: #DDDDDD;" class="ContentArea">
                            <h2>Download Rebaslight <small><%= version %></small></h2>
                            <div>
                                <ul class="nav nav-tabs js-tabs">
                                    <li role="presentation"><a href="#build-tab-win32" role="tab" data-toggle="tab" aria-controls="profile"><i class="fa fa-windows"></i> Windows</a></li>
                                    <li role="presentation"><a href="#build-tab-darwin" role="tab" data-toggle="tab" aria-controls="profile"><i class="fa fa-apple"></i> Mac</a></li>
                                    <li role="presentation"><a href="#build-tab-linux" role="tab" data-toggle="tab" aria-controls="profile"><i class="fa fa-linux"></i> Linux</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" id="build-tab-win32" class="tab-pane">
                                        <div style="margin-top: -1px; border-top-left-radius: 0;" class="panel panel-default">
                                            <div class="panel-body">
                                                <div>
                                                    <%- btns_by_os.win.join("") %>
                                                    <p>
                                                        Once downloaded, double-click it. It will automatically install and launch the program. It will also create an icon in the start menu.
                                                    </p>
                                                    <p>
                                                        The first time you open a downloaded application, you'll see a warning. Agree to open the file and you won’t see the warning again.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" id="build-tab-darwin" class="tab-pane">
                                        <div style="margin-top: -1px; border-top-left-radius: 0;" class="panel panel-default">
                                            <div class="panel-body">
                                                <div>
                                                    <p>
                                                        Download then double click to mount it and drag the application icon to the <code>/Applications</code> folder.
                                                    </p>
                                                    <%- btns_by_os.mac.join("") %>
                                                    <p>
                                                        After the app is dragged to your Applications folder, you can run it normally - from the Finder, Launchpad, Spotlight, dock, etc.
                                                    </p>
                                                    <p>
                                                        The first time you open a downloaded application, you'll see a warning. Agree to open the file and you won’t see the warning again.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" id="build-tab-linux" class="tab-pane">
                                        <div style="margin-top: -1px; border-top-left-radius: 0;" class="panel panel-default">
                                            <div class="panel-body">
                                                <div>
                                                    <p>Download the right one for your system.</p>

                                                    <%- btns_by_os.linux.join("") %>

                                                    My prefered way is .tar.bz2
                                                    Simply download it, open a terminal and extract it like so:
                                                    <pre>$ tar xf rebaslight-<%= version.replace(/^v/, "").trim() %>.tar.bz2</pre>
                                                    Then cd into the directory and run it!
                                                    <pre>$ cd rebaslight-<%= version.replace(/^v/, "").trim() %>/
$ ./rebaslight</pre>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="font-size:14px;border-top: 1px solid #CCC; margin-top: 1em; padding-top: .7em;" class="text-muted">
                                By downloading/using Rebaslight you agree to the <a href="https://github.com/rebaslight/rebaslight/blob/master/LICENSE.md">License.</a>
                            </div>
                            <div style="font-size:14px;">
                                <a href="https://github.com/rebaslight/rebaslight/releases">release details</a>
                                <span class="text-muted" style="margin:0 .5em">|</span>
                                <a href="https://github.com/rebaslight/rebaslight">view source <i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div id="how-to">
                    <div class="container">
                        <div style="padding: 1em; color: #000000; background: #DDDDDD;" class="ContentArea">
                            <h2>How to add a lightsaber to your video</h2>
                            <ol>
                                <li>Open the vido or picture you want to edit.</li>
                                <li>From the menu select [Effects] &gt; [Laser Glow].</li>
                                <li>Click on the picture to add points. Right click (or ctrl+click) to remove them.</li>
                                <li>To preview your work click the <i class="fa fa-star-o"></i> button on the far right.</li>
                                <li>You can change the color or size using the controlls on the left.</li>
                                <li>When you are done, select [Projects] &gt; [Export].</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <br>
                <div id="contact">
                    <div class="container">
                        <div style="padding: 1em; color: #000000; background: #DDDDDD;" class="ContentArea">
                            <h2>Contact</h2>
                            <span id="droideka-0">
                                <noscript>You must enable JavaScript to see the email.</noscript>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <footer>
                <div class="container-fluid text-center">
                    <p>
                        <a href="https://github.com/rebaslight/rebaslight/blob/master/LICENSE.md">License</a>
                    </p>
                    <p style="font-size: 28px; margin-bottom: .5em;">
                        <a href="https://twitter.com/rebaslight" rel="nofollow"><i class="fa fa-twitter-square"></i></a>
                        <a href="https://www.facebook.com/rebaslight" rel="nofollow"><i class="fa fa-facebook-square"></i></a>
                        <a href="http://www.youtube.com/rebaslight" rel="nofollow"><i class="fa fa-youtube-square"></i></a>
                        <a href="https://github.com/rebaslight/rebaslight" rel="nofollow"><i class="fa fa-github-square"></i></a>
                    </p>
                    <p>
                        <a href="https://github.com/rebaslight/rebaslight/blob/master/LICENSE.md">License</a>
                        ,
                        <a href="https://smallhelm.com/privacy">Privacy</a>
                        ,
                        <a href="https://smallhelm.com" class="no-link-styles">
                            &copy; 2018 Very Small Helm LLC
                        </a>
                        <br>
                        No affiliation with Lucasfilm, Lucasarts, Star Wars, or Disney.
                    </p>
                </div>
            </footer>
        </div>
    </body>
    <script src="/js/main.min.js"></script>
    <script type="application/javascript">setTimeout(function(){var d=function(b){var c=b.substring(0,87);b=b.substring(c.length);var e,f,g,h='',d;for(e=0;e<b.length;e++)f=b.charAt(e),g=c.indexOf(f),d=(g-b.length+c.length)%c.length,d=0>d?c.length+d:d,h+=0<=g?c[d]:f;return h};(function(){var a=document.getElementById("droideka-0");if(!a)return;a.innerHTML=d("M%:K1kGS,mrDZ^R#*ziod'A39q\"2-{+.wYXp40EB5cC=ens}Ux>jQa6]OH7ufNJI~&(LyV!W)tgF@[v<lb$8hPT7w I@3BAkFwhuQPyqERRP@Q]@3fwquhaIQrdPFk{qERRP@Q]@3fwquhaIQrdPF7/w{");}());}, 500);</script>
</html>
